.content {
  padding-top: 150px;
}
.content .img-details {
  width: 60%;
}
.content .card-content h1 {
  font-weight: 800;
}
.content .card-content h2 {
  font-weight: 500;
}
.content .card-content h3 {
  font-weight: 500;
  color: red;
}

.content .card-content p {
  color: rgb(143, 141, 141);
  max-width: 80%;
}

.content .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
