.swiper {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper .slide-content {
  text-align: center;
  align-items: center;
}
.swiper .slide-content p {
  color: white;
  font-size: 50px;
}
.swiper .slide-content h2 {
  color: white;
  font-size: 50px;
  font-style: bold;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  background-color: #ff5722; /* Change to your desired color */
}
