.swiper {
  background-image: url(../../../public/images/banner-bg.png);
  height: calc(100vh - 64px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper .slide-content {
  text-align: center;
  align-items: center;
  padding-top: 90px;
  z-index: 1;
}
.swiper .slide-content p {
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.swiper .slide-content h2 {
  color: white;
  font-size: 50px;
  font-style: bold;
  font-weight: 800;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  color: black;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: black;
}
